.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:grey;

    margin-top: 50px;
}

.big{
    width:200px;
}
 
div .clear{
    background-color: darkred;
} 

