.main{
    padding: 0px;
    margin: 0px;}

#calculator{
    background-color:grey;
    margin-top: 50px;
}

 
div .clear{
    background-color: darkred;
} 

.centice{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .func{
    color: white;
}



